<!-- This is the reset password form html page -->
<div fxLayout="row wrap" class="login-wrapper">
  <div fxFlex.lt-md="0%" fxFlex.gt-sm="60%" class="login-banner"></div>

  <div fxFlex="100%" fxFlex.gt-sm="40%">
    <div fxLayout="column">
      <mat-card class="mat-elevation-z0 login-container">
        <div class="app-title" mat-button routerLink="/">BCRS</div>
        <mat-card-title class="login-subtitle mat-headline"
          >Bob's Computer Repair Shop</mat-card-title
        >

        <mat-card-subtitle class="login-subtitle mat-headline">
          Verify User
        </mat-card-subtitle>
        <br /><br />

        <!-- Creating a reset from field for the forgotten password -->
        <form
          [formGroup]="form"
          (ngSubmit)="resetPassword()"
          #resetPasswordForm
        >
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input
                matInput
                type="password"
                [formControl]="form.controls['password']"
                placeholder="New password"
              />
            </mat-form-field>

            <strong
              ><small style="color: #df546a"
                >Password must be at least 8 characters in length and include at
                least one uppercase character and a number</small
              ></strong
            ><br /><br />

            <br /><br />
            <mat-card-actions fxFlex fxLayoutAlign="end">
              <button
                mat-raised-button
                routerLink="/"
                type="button"
                color="primary"
              >
                Cancel
              </button>
              <button mat-raised-button color="accent" type="submit">
                Submit
              </button>
            </mat-card-actions>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>
