<div fxLayout="row wrap" class="login-wrapper">
  <div fxFlex.lt-md="0%" fxFlex.gt-sm="60%" class="login-banner"></div>

  <div fxFlex="100%" fxFlex.gt-sm="40%">
    <div fxLayout="column">
      <mat-card class="mat-elevation-z0 login-container">
        <div class="app-title">BCRS</div>
        <mat-card-subtitle class="login-subtitle mat-headline">
          Verify User
        </mat-card-subtitle>
        <br /><br />

        <!-- Creating a reset from field for the forgotten password -->
        <form
          [formGroup]="form"
          (ngSubmit)="resetPassword()"
          #resetPasswordForm
        >
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input
                matInput
                type="password"
                [formControl]="form.controls['password']"
                placeholder="New password"
              />
            </mat-form-field>

            <br /><br />
            <div fxFlex fxLayoutAlign="end">
              <button mat-raised-button color="accent">Submit</button>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>
