<!-- ContactComponent HTML page -->
<!--
============================================
; Title:  Contact component
; Author: Professor Krasso
; Date:   23 Apr 2021
; Modified by: Erica Perry
; Description: contact component page
;===========================================
-->

<div>
  <div fxFlex>
    <div>
      <div class="card-wrapper">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">navigation</mat-icon>
        </mat-card-title>
      </div>
      <br /><br />
      <div class="card-wrapper">
        <mat-card-content class="align-center">
          <p>1000 Galvin Rd S</p>
          <p>Bellevue, NE 68005</p>
        </mat-card-content>
      </div>
    </div>
  </div>

  <div fxFlex>
    <div>
      <div class="card-wrapper">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">phone</mat-icon>
        </mat-card-title>
      </div>
      <br /><br />
      <div class="card-wrapper">
        <mat-card-content class="align-center">
          <p>Direct: (402) 293-2000</p>
          <p>Toll-free: (800) 555-5555</p>
          <p>Fax: (555) 555-5555</p>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Boston
    metro area.
  </p>
</div>
