<!-- ContactComponent HTML page -->
<!--
============================================
; Title:  Contact component
; Author: Professor Krasso
; Date:   23 Apr 2021
; Modified by: Erica Perry
; Description: contact component page
;===========================================
-->

<div fxLayout="row wrap">
    <div fxFlex>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>123 Brint Streey</p>
        <p>Boston, Massachutts</p>
      </mat-card-content>
    </div>
  
    <div fxFlex>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>Direct: 781-627-5555</p>
        <p>Toll-free: 1-800-555-5555</p>
        <p>Fax: 555-555-5555</p>
      </mat-card-content>
    </div>
  </div>
  
  <br /><br /><br /><br />
  <div fxLayout="column">
      <p style="text-align: center">
          Visit us online or at one of our many great locations throughout the Boston metro area.
      </p>
    </div>