<!--
============================================
; Title: userlist
; Author: Erica Perry
; Date:   16 Apr 2021
; Modified by: Erica Perry
; Description: creating the user list(users information
present in a list)
;===========================================
-->

<div fxLayout="column">
    <mat-card>
        <mat-card-subtitle>
            <button mat-button routerLink= "/user/create/new" color="accent">Create</button>
        </mat-card-subtitle>


        <mat-carcontent *ngIf="users">
            <table mat-table [dataSource]= "users">

                <ng container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef>UserName</th>
                    <td mat-cell *matCellDef="let element">{{element.username}} </td>
                </ng-container>

                <ng container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>First Name</th>
                    <td mat-cell *matCellDef="let element">{{element.firstname}} </td>
                </ng-container>


                <ng container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef>Last Name</th>
                    <td mat-cell *matCellDef="let element">{{element.lastname}} </td>
                </ng-container>

                <ng container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                    <td mat-cell *matCellDef="let element">{{element.phoneNumber}} </td>
                </ng-container>

                <ng container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>Address</th>
                    <td mat-cell *matCellDef="let element">{{element.address}} </td>
                </ng-container>

                <ng container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.email}} </td>
                </ng-container>

                <ng container matColumnDef="functions">
                    <th mat-header-cell *matHeaderCellDef>Functions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button routerLink="/users/{{element._id}}">
                            <mat-icon color="accent">edit</mat-icon>
                        </button>
                    <button mat-icon-button (click)="delete(element._, element.userName)">
                        <mat-icon color="accent">delete</mat-icon>
                        </button>
                        </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </mat-carcontent>
    </mat-card>
</div>
