<!-- AboutComponent HTML Page -->

<div fxLayout="row wrap" class="footer">
  <div fxFlex="100%" fxFlex.gt-sm="35%">
    <img src="../../../assets/about.jpg" alt="about page" width="100%" />
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="5%"></div>
  <div fxFlex="100%" fxFlex.gt-sm="60%">
    <div class="footer-tile">
      <div class="about-title">BCRS</div>
      <div class="about-content">
        Are you a college student, constantly writing papers or reports? Are you
        putting wear and tear on your computer or laptop? You're probably a
        professional or maybe someone who generates their life with technology
        such as Sending emails, checking emails, having business meetings online
        or just surfing the web. We haven't forgotten about those full time stay
        at home parents either. Surely we are aware of those parents who are in
        constant zoom calls or meetings for their children teachers or different
        specialists. Maybe the young ones want to watch tv on your computer/
        laptop or facetime "Nana and Papa"! Doesn’t matter what your title or
        occupation may be, Bob’s computer repair shop is here for you! We vow to
        keep your system up and running at its best, that way you could perform
        at your best! Here at Bob’s we cater to our clients needs and we’re sure
        we are more than capable of supplying your every need. Our services
        include password Reset, Spyware Removal, RAM Upgrade, Software
        Installation, and PC Tune-up, Keyboard Cleaning. Believe it or not we
        are always at your disposal! Our clients have the ability to jump on any
        electronic device and request services. Worried about doing business
        online, worry no more! Security is BCRS top priority! As a client you
        would be asked to create an account which is equipment with your own
        personal touch(security questions and password). No need to keep track
        of what you are ordering or trying to budget. Bob’s repair shop system
        calculates the service repair fees and tracks your purchases by
        services, once you are all set and ready to complete your order, you'll
        receive a pop up invoice with your order summary and complete details
        listed. So give Bob's a try today!
      </div>
    </div>
  </div>
</div>
