<!-- AboutComponent HTML Page -->

<div fxLayout="row wrap" class="footer">
  <div fxFlex="100%" fxFlex.gt-sm="60%">
    <div class="footer-tile">
      <div class="about-title">BCRS</div>
      <div class="about-content">
        Your group has been contracted by Bob’s Computer Repair Shop, to rebuild
        their existing service repair system. This system is responsible for
        calculating service repair fees, invoicing, and tracking purchases by
        service. Bob has expressed his concerns for security, account
        registration, reporting, error handling, and ease of use.
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="5%"></div>
  <div fxFlex="100%" fxFlex.gt-sm="30%">
    <div class="footer-tile">
      <div class="about-title">Schedule</div>
      <div class="about-content">
        The development of this application will encompass 3 Sprints and 5 days.
        The first 3 days will be for requirements gathering, project planning,
        and designing. The last 2 days will be for deployment and group
        presentations.
      </div>
    </div>
  </div>
</div>
