<!-- This is the role-list html page -->
<div fxLayout="column">
  <mat-card-title style="margin-left: 10px">Users Configuration</mat-card-title>
  <mat-card-subtitle style="margin-top: 20px">
    <button mat-button routerLink="/roles/create/new" color="accent">
      Create
    </button>
  </mat-card-subtitle>

  <mat-card-content *ngIf="roles">
    <!-- User configuration table -->
    <table mat-table [dataSource]="roles" style="width: 100%">
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.text }}</td>
      </ng-container>

      <ng-container matColumnDef="functions">
        <th mat-header-cell *matHeaderCellDef>Functions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button routerLink="/roles/{{ element._id }}">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(element._id, element.text)">
            <mat-icon color="accent">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- set columns displayedColumns -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</div>
