<div fxLayout="row wrap" class="login-wrapper">
  <div fxFlex.lt-md="0%" fxFlex.gt-sm="60%" class="login-banner"></div>

  <div fxFlex="100%" fxFlex.gt-sm="40%">
    <div fxLayout="column">
      <mat-card class="mat-elevation-z0 login-container">
        <div class="app-title" mat-button routerLink="/">BCRS</div>
        <mat-card-title class="login-subtitle mat-headline"
          >Bob's Computer Repair Shop</mat-card-title
        >

        <mat-card-subtitle class="login-subtitle mat-headline">
          Sign in
        </mat-card-subtitle>

        <mat-card
          *ngIf="errorMessage"
          class="mat-elevatio-z0"
          style="width: 75%; background-color: red; color: white"
        >
          <mat-card-content>
            <div class="msg-error">{{ errorMessage }}</div>
          </mat-card-content>
        </mat-card>
        <br />

        <!-- Sign in Form -->
        <form
          [formGroup]="form"
          (ngSubmit)="signIn(); form.reset()"
          #loginForm="ngForm"
        >
          <mat-card-content>
            <!-- Login Form -->
            <mat-card-content action="">
              <mat-card-content>
                <mat-form-field class="form-full-width">
                  <input
                    type="text"
                    matInput
                    placeholder="Username"
                    [formControl]="form.controls['userName']"
                    fullWidth
                  />

                  <mat-error *ngIf=""> Username is a required field</mat-error>
                </mat-form-field>
                <mat-form-field class="form-full-width">
                  <input
                    type="password"
                    matInput
                    placeholder="Password"
                    [formControl]="form.controls['password']"
                    fullWidth
                  />
                  <mat-error *ngIf=""> Password is a required field</mat-error>
                </mat-form-field>
                <div style="height: 30px">
                  <div style="float: right">
                    <span class="reset-password" routerLink="/session/forgot">
                      Forgot password?
                    </span>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions align="end">
                <button
                  type="submit"
                  flFlex
                  mat-raised-button
                  color="accent"
                  [disabled]="!form.valid"
                >
                  Sign In
                </button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card-content>
        </form>

        <div>
          First time user?
          <button mat-button routerLink="/session/register">
            Create an account
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
