<!-- logo -->
<div class="app-title">
  <span routerLink="/">BCRS</span>
</div>

<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar color="primary">
      <!-- navbar container -->
      <div class="navbar-container">
        <button routerLink="/" mat-button>HOME</button>
        <button routerLink="/about" mat-button>ABOUT US</button>
        <button routerLink="/contact" mat-button>CONTACTS</button>

        <div class="employee-id">
          <button mat-stroked-button [matMenuTriggerFor]="menu">
            <mat-icon style="font-size: 18px">face</mat-icon>&nbsp;
            {{ username }}
            &nbsp; &nbsp;
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <button routerLink="/users" mat-menu-item>
              User Configuration
            </button>
            <button routerLink="/security-questions" mat-menu-item>
              Security Question
            </button>
            <button routerLink="/roles" mat-menu-item>Roles</button>
            <button
              *ngIf="isAdmin()"
              routerLink="/purchases-by-service-graph"
              mat-menu-item
            >
              Purchases By Graph
            </button>
            <button mat-menu-item (click)="logOut()">Sign Out</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Footer -->
  <div fxLayout="row wrap" class="footer">
    <div fxFlex="100%" fxFlex.gt-sm="65%">
      <div class="footer-tile">
        <div class="about-title">BCRS</div>
        <div class="about-content">
          Are you a college student, constantly writing papers or reports? Are
          you putting wear and tear on your computer or laptop? You're probably
          a professional or maybe someone who generates their life with
          technology such as Sending emails, checking emails, having business
          meetings online or just surfing the web. We haven't forgotten about
          those full time stay at home parents either. Surely we are aware of
          those parents who are in constant zoom calls or meetings for their
          children teachers or different specialists...
        </div>
      </div>
    </div>

    <div fxFlex="100%" fxFlex.gt-sm="10%"></div>

    <div fxFlex="100%" fxFlex.gt-sm="25%">
      <div class="footer-tile">
        <div class="about-title">CONTACT US</div>
        <div class="about-content">
          <div class="content-wrapper">
            <mat-icon color="secondary">chevron_right</mat-icon>
            <div>support@bcrs.com</div>
          </div>
          <div class="content-wrapper">
            <mat-icon color="secondary">chevron_right</mat-icon>
            <div>(402) 293-2000</div>
          </div>
          <br /><br />
          <div class="content-wrapper">
            <div>
              <div>1000 Galvin Rd S</div>
              <div>Bellevue, NE 68005</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
