.app-title {
  display: flex;
  background-color: #fff;
  height: 100px;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  color: #212121;
  font-weight: 300;
  text-shadow: 0px 0px 21px #262626;
}

.app-title > span {
  outline: none;
  cursor: pointer;
}

.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;
}

.navbar-container {
  padding: 5px;
  width: 100%;
}

.employee-id {
  float: right;
}

/* dynamic height  */
.main-content {
  min-height: calc(100vh - 514px);
}

.footer {
  bottom: 0;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}

/* footer theme */
.footer {
  background-color: #212121;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.about-title {
  font-size: 17px;
}

.about-content {
  margin-top: 1rem;
  font-size: 14px;
  line-height: 1.5;
}

mat-icon {
  font-size: 14px;
  height: unset;
}

.footer-tile {
  padding: 2rem;
}

.padding-left-2 {
  padding-left: 2rem;
}

/* contact us content wrapper */
.content-wrapper {
  display: flex;
  align-items: center;
  min-height: 1.7rem;
}
