<!-- This is the security-question-create html page -->
<div fxLayout= "column">

    <mat-card class ="mat-elevation-z8">
        <mat-card-title> Create Security Question </mat-card-title>

            <br/>

            <form [formGroup]="form" (ngSubmit)="create()" #securityQuestionForm>
                <mat-card-content>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <mat-form-field>
                            <input type="text" matInput [formControl]="form.controls['text']"
                                 placeholder="Question text"(keydown.enter)="create()"/>
                        </mat-form-field>
                    </div>
                </mat-card-content>

                <br/>
                <mat-card-action align="end">
                    <button mat-raised-button (click)= "cancel()" color="warn">Cancel</button>
                    <button type="submit" mat-raised-button color="accent">Submit</button>
                </mat-card-action>
                </form>

            </mat-card>

        </div>
